{% extends 'base.twig' %}

{% block title %}Dev.web Nathan CV{% endblock %}

{% block jobTitle %}Développeur Web Full-Stack{% endblock %}
{% block summary %}Au fil de mon parcours, j'ai réalisé que j'aime apprendre et découvrir quotidiennement ce que me permet l'informatique. Je serai d'ailleurs ravi d'étudier une nouvelle technologie si mon travail le nécessite.{% endblock %}

{# {% block info_github %}mon compte Github{% endblock %} #}
{% block pdf_idiom %}fr{% endblock %}
{% block info_pdf %}télécharger le cv{% endblock %}

{% block idiom_links %}
<a href="/">
    <svg>
        <use xlink:href="#usIcon">
    </svg>
</a>
{% endblock %}

{% block bullet_skills %}Skills{% endblock %}
{% block bullet_portfolio %}Portfolio{% endblock %}
{% block bullet_study %}Formation{% endblock %}
{% block bullet_hobby %}Divers{% endblock %}


{% block skill_1_title %}Technologies{% endblock %}
{# {% block skill_1_data %} | PHP 8, React 16, Symfony 5, Javascript ES6, Python 3, SQL, VBA, HTML5, (S)CSS 3{% endblock %} #}

{% block skill_2_title %}Services web{% endblock %}
{# {% block skill_2_data %} | Docker, API REST, RabbitMQ, GitHub/GitLab, AWS, Oauth2, SSO SamlV2 / JWS, Postman{% endblock %} #}

{% block skill_3_title %}Concepts de Développement{% endblock %}
{% block skill_3_data %} | Domain Driven Development, Behaviour Driven Development, Test Driven Development, MVC et Architecture Hexagonale (cf. clean architecture), Clean Code{% endblock %}

{% block skill_4_title %}Organisation{% endblock %}
{% block skill_4_data %} | Méthodes Agile, Squad type "spotify", présentiel et/ou télé-travail{% endblock %}

{% block skill_5_title %}Création artistique{% endblock %}
{% block skill_5_data %} | Adobe Premiere Pro &#38; Photoshop &#38; Illustrator{% endblock %}

{% block skill_6_title %}Langues étrangères{% endblock %}
{% block skill_6_data %} : Anglais (C1) , Espagnol (B1){% endblock %}

{% block skill_7_title %}Bureautique{% endblock %}
{% block skill_7_data %} | Word, PowerPoint, Excel{% endblock %}

{% block skill_page_title %}Compétences{% endblock %}


{% block project_1_name %}Développeur Back-End chez Edflex | MyMooc{% endblock %}
{% block project_1_subtitle_1 %}Décembre 2019 - Novembre 2021 (CDI) | Nantes - Paris - Biarritz{% endblock %}
{% block project_1_subtitle_2 %}plateforme SaaS surnommée le "netflix de la formation en ligne"{% endblock %}
{% block project_1_bullet_1 %}Concepts : DDD, BDD (behat), TDD (phpUnit), Architecture hexagonale, intégration continue{% endblock %}
{% block project_1_bullet_2 %}Tech : PHP 8, MySQL, React, Messenger (et divers composants Symfony), Kubernetes, Twig, HTML (// emails){% endblock %}
{% block project_1_bullet_3 %}Services : Docker, API, RabbitMQ, GitLab, AWS, Oauth2, SSO SamlV2 / JWS, Postman, intégration Slack, GoogleSuite, ElasticSearch, LocoTranslate, PhpStan{% endblock %}
{% block project_1_bullet_4 %}Organisation : méthodes Agile (Jira, scrum, sprint, poker planning,...) - d'abord en présentiel puis en télé-travail (cf.pandémie COVID-19) - j'étais également "Tech Implementation Manager" pour les clients étrangers (US et AmL) ou francophones (cf. SSO et API){% endblock %}

{% block project_2_name %}Projet Professionnel BtoBtoC{% endblock %}
{% block project_2_subtitle_1 %}Plateforme d'agences touristiques{% endblock %}
{% block project_2_subtitle_2 %} réalisé en free-lance (4 mois){% endblock %}
{% block project_2_bullet_1 %}PHP 7, MySQL, Javascript, Twig, Webpack Encore, Cron &#38; Config Serveur{% endblock %}
{% block project_2_bullet_2 %}Symfony 4, React 16, Scrum &#38; réunions avec la porteuse de projet{% endblock %}
{% block project_2_bullet_3 %}Tunnel de recherche/réservation, 3 types de comptes (cf. BtoBtoC), Messagerie interne, Gestion Admin{% endblock %}

{% block project_3_name %}Multiple projets école - WildCodeSchool{% endblock %}
{% block project_3_subtitle %} réalisé en individuel ou collectif (cf. méthodes SCRUM Agile){% endblock %}
{% block project_3_bullet_1 %}PHP 7, Symfony 4, React 16, JS, MySQL, Twig{% endblock %}
{% block project_3_bullet_2 %}Modèle MVC, API, SCRUM Agile (sprint, kanban, backlog,...){% endblock %}

{% block project_page_title %}Portfolio{% endblock %}


{% block study_1_title %}Formation de Développeur Web et Mobile{% endblock %}
{% block study_1_subtitle %}Wild Code School{% endblock %}
{% block study_1_city %}Nantes{% endblock %}

{% block study_2_title %}Pré-Master programme Grande Ecole{% endblock %}
{% block study_2_subtitle %}Grenoble Ecole de Management (GEM){% endblock %}
{# {% block study_2_city %}Grenoble{% endblock %} #}

{% block study_3_title %}Licence de maths{% endblock %}
{% block study_3_subtitle %}Université Rennes 1{% endblock %}
{# {% block study_3_city %}Rennes{% endblock %} #}

{% block study_4_title %}Bac S {% endblock %}
{% block study_4_honours %} mention très bien{% endblock %}
{% block study_4_subtitle %}Lycée Bertrand d'Argentré{% endblock %}
{% block study_4_city %}Vitré{% endblock %}

{% block study_page_title %}Formation{% endblock %}


{% block hobby_1_title %}Cultures &#38; langues étrangères{% endblock %}
{% block hobby_1_bullet_1 %}Skype avec des natifs (USA,Mex.,Esp.,Am-Centrale){% endblock %}
{% block hobby_1_bullet_2 %}Workaway: 5 semaines en immersion à vivre et travailler avec une famille anglaise en milieu rural{% endblock %}

{% block hobby_2_title %}Cinéma{% endblock %}
{% block hobby_2_subtitle %}Réalisation &#38; direction d'un plateau de tournage à Grenoble{% endblock %}

{% block hobby_3_title %}Sports{% endblock %}
{% block hobby_3_subtitle %}Running, Surf, Basket, Rugby, Football (soccer et US){% endblock %}

{% block hobby_4_title %}Autres{% endblock %}
{% block hobby_4_subtitle %}Philosophie, Musique, Entrepreneuriat, ... : dans tous ces domaines ainsi qu'en informatique, j'aime être en perpétuel apprentissage, rendu facile grâce à une infinité de ressource en ligne.{% endblock %}

{% block hobby_page_title %}Centres d'intérêts{% endblock %}