// original scss for tabbar get from codepen

#tabbar {
  align-self: center;
  font-family: Roboto, Arial;
  position: absolute;
  --icon-active: #275efe;
  --icon-inactive: #6c7486;
  --icon-hover: #99a3ba;
  --text: #e4ecfa;
  --circle: #e4ecfa;
  --background: #171c28;
  --shadow: rgba(18, 22, 33, 0.1);
  background: var(--background);
  padding: 0 12px;
  box-shadow: 0 8px 16px var(--shadow);
  & > div {
    display: flex;
    height: 100%;
    position: relative;
    label {
      flex: 0 0 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      z-index: 1;
      svg,
      span {
        display: block;
        -webkit-backface-visibility: hidden;
        transition: transform 0.4s cubic-bezier(0.2, 0.64, 0.48, 1.12), opacity 0.4s ease, color 0.4s ease;
        @media screen and (max-aspect-ratio: 13/10) {
          transform: translateY(var(--y)) scale(var(--s));
        }
        @media screen and (min-aspect-ratio: 13/10) {
          transform: translateX(var(--y)) scale(var(--s));
        }
      }
      svg {
        --y: 0;
        --s: 0.84;
        width: 24px;
        height: 24px;
        margin: auto;
        color: var(--icon-inactive);
        transform-origin: 50% 50%;
      }
      span {
        --y: -8px;
        --s: 0.92;
        font-size: 10px;
        font-weight: 500;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 0;
        opacity: 0;
        color: var(--text);
        transform-origin: 50% 0;
      }
      &:hover {
        svg {
          color: var(--icon-hover);
        }
      }
      &:active {
        svg {
          --s: 0.76;
        }
      }
    }
    input {
      display: none;
      &:nth-of-type(1) {
        &:checked {
          & + label + input + label + input label + input + label + span {
            @media screen and (max-aspect-ratio: 13/10) {
              --x: 0;
            }
            @media screen and (min-aspect-ratio: 13/10) {
              --x: 2%;
            }
          }
        }
      }
      &:nth-of-type(2) {
        &:checked {
          & + label + input + label + input + label + span {
            @media screen and (max-aspect-ratio: 13/10) {
              --x: 74.8%;
            }
            @media screen and (min-aspect-ratio: 13/10) {
              --x: 29%;
            }
          }
        }
      }
      &:nth-of-type(3) {
        &:checked {
          & + label + input + label + span {
            @media screen and (max-aspect-ratio: 13/10) {
              --x: 149.6%;
            }
            @media screen and (min-aspect-ratio: 13/10) {
              --x: 56.5%;
            }
          }
        }
      }
      &:nth-of-type(4) {
        &:checked {
          & + label + span {
            @media screen and (max-aspect-ratio: 13/10) {
              --x: 224.4%;
            }
            @media screen and (min-aspect-ratio: 13/10) {
              --x: 84%;
            }
          }
        }
      }
      &:checked {
        & + label {
          svg {
            --y: -24px;
            --s: 1;
            color: var(--icon-active);
          }
          span {
            --s: 1;
            --y: -14px;
            opacity: 1;
          }
        }
      }
    }
    & > span {
      @media screen and (max-aspect-ratio: 13/10) {
        --x: 0;
        transform: translateX(var(--x));
        left: -10px;
        top: 0;
      }
      @media screen and (min-aspect-ratio: 13/10) {
        --x: 2%;
        transform: translateY(var(--x));
        left: -25%;
        top: 9%;
      }
      display: block;
      position: absolute;
      bottom: 0;
      width: 33.33%;
      transition: transform 0.4s cubic-bezier(0.2, 0.64, 0.48, 1.12);
      -webkit-backface-visibility: hidden;
      &:after {
        content: "";
        width: 44px;
        height: 44px;
        display: block;
        border-radius: 50%;
        background: var(--circle);
        position: absolute;
        left: 50%;
        top: 0;
        box-shadow: 0 2px 8px var(--shadow);
        margin: -14px 0 0 -22px;
      }
    }
  }
}
